<div>
  <%= form_with model: [commentable, Comment.new], class: 'flex gap-4' do |f| %>

    <div class="grow">
      <%= f.text_field :body, placeholder: "Write a comment...", class: "w-full bg-slate-200 rounded-full border-none" %>
    </div>

    <%= f.submit "Comment", class: "btn btn-secondary flex-none" %>

  <% end %>
</div>
