<h1><%= @user.full_name %></h1>

<div class="mt-4">
  <% if @user.profile_picture.attached? %>
    <%= image_tag @user.profile_picture %>
  <% else %>
    <%= image_tag "default.jpeg" %>
  <% end %>
</div>

<%= render @posts, all_comments: false %>
